<h2>Recent Notifications</h2>

<ul class="records">
  <li ng-repeat="item in main.list track by $index">
    {{item.date}}: "{{item.text}}"
  </li>
</ul>

<button ng-click="main.refresh()">Refresh</button>
<a href="/api/history"><button>View All</button></a>

<div class="space"></div>

<h2>Change the Content of Your Texts</h2>
<label>I want texts to read: </label>
<input type="text" ng-model="main.textContent" maxlength="140" placeholder="limit 140 characters" />
<button ng-click="main.update()">Update!</button>
<p ng-show="main.updated" class="biggerText">Text content updated!</p>

<div class="space"></div>

<a href="/"><button>Log out</button></a>
