/* CSS reset source:
   http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/* End CSS reset */


body {
  background-color: #D3D3D3;
  background-image: url(public/styles/shattered/shattered_@2x.png);
  text-align: center;
  font-family: 'Reem Kufi', sans-serif; /*font is from Google*/
  color: #8B4513;
}

h1 {
  margin: 2%;
  font-size: 220%;
  color: #FF4500;
}

h2 {
  font-size: 160%;
}

input {
  background-color: #E6E6FA;
  width: 30%;
  font-size: 160%;
  font-family: 'Reem Kufi', sans-serif;
  color: #8B4513;
}

button {
  margin: 0 0.5% 2% 0.5%;
  border-color: #663399;
  border-radius: 25%;
  background-color:#FF7F50;
  font-size: 120%;
  font-family: 'Reem Kufi', sans-serif;
  color: #8B4513;
}

button:hover {
	background-color: #FFA07A;
}

p, li, label {
  font-size: 130%;
  line-height: 1.5em;
}

h2, input, ul {
	margin-bottom: 2%;
}

a {
  color: #2E8B57;
}

.fade {
	transition: 0.5s linear all;
}

.fade.ng-enter {
	opacity: 0;
}

.records {
  font-family: 'Roboto', sans-serif;
	list-style: none;
}

.biggerText {
	font-size: 145%;
}

div .space {
	margin: 5% 0;
}
